<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/profile-1.jpg" alt="Yudistira Yuda" class="img-thumbnail rounded-circle" width="200">
            <h1 class="display-4">Yudistira Yuda</h1>
            <p class="lead">Student | Programmer</p>
        </div>
    </div>
</div>